In [1]:
import pandas as pd
import numpy as np
from statistics import mean

In [3]:
df = pd.read_excel("C:/Users/mcarufel/Documents/Github/Anaconda/Mirror_temp/HP Temperature profile at 15C - Copy.xlsx")
df

,time1905,temp1905,time1906,temp1906,time1772,temp1772,time1692,temp1692,time1875,temp1875,...,time1465,temp1465,time1630,temp1630,time2759,temp2759,time2763,temp2763,time2855,temp2855
0,-870.0,36.7433,-875.0,35.0271,-875.0,36.2634,-880.0,35.2314,-815.0,35.1051,...,-466.0,36.2361,-585.0,35.1961,-930.0,35.2154,-910.0,35.0116,-935.0,35.1022
1,-869.5,36.7433,-874.5,35.0189,-874.5,36.2634,-879.5,35.2177,-814.5,35.1051,...,-465.5,36.2270,-584.5,35.1979,-929.5,35.2035,-909.5,35.0336,-934.5,35.1022
2,-869.0,36.7351,-874.0,34.9887,-874.0,36.2460,-879.0,35.2323,-814.0,35.1015,...,-465.0,36.2306,-584.0,35.1979,-929.0,35.2035,-909.0,35.0336,-934.0,35.1543
3,-868.5,36.7095,-873.5,34.9640,-873.5,36.2032,-878.5,35.2323,-813.5,35.0869,...,-464.5,36.2105,-583.5,35.1952,-928.5,35.1843,-908.5,35.0591,-933.5,35.1735
4,-868.0,36.6949,-873.0,34.9640,-873.0,36.1849,-878.0,35.2113,-813.0,35.0832,...,-464.0,36.2105,-583.0,35.2052,-928.0,35.2054,-908.0,35.0838,-933.0,35.2173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df["temp1905"][df["time1905"]==0].values[0]

36.183

In [74]:
subdf = pd.DataFrame(df.loc[df["time1905"]==0])
subdf

,time1905,temp1905,time1906,temp1906,time1772,temp1772,time1692,temp1692,time1875,temp1875,...,time1465,temp1465,time1630,temp1630,time2759,temp2759,time2763,temp2763,time2855,temp2855
1740,0.0,36.183,-5.0,35.7321,-5.0,36.1318,-10.0,36.0404,55.0,35.8835,...,NaN,NaN,NaN,NaN,-60.0,36.0127,-40.0,36.0884,-65.0,35.788

In [69]:
l = df.loc[df["time1905"]==0].values
print(l)
res = []
for i in l[0]:
    res.append(str(i))
"".join(res)

[[    0.        36.183     -5.        35.7321    -5.        36.1318
    -10.        36.0404    55.        35.8835    90.        36.1259
         nan        nan   -90.        35.4726  -150.        35.5646
   -520.        35.2114   -90.        35.6915 -2640.        34.3003
    -60.        35.8113   240.        36.6874    90.        36.3042
   -240.        35.8932        nan        nan        nan        nan
         nan        nan        nan        nan  -110.        35.6238
         nan        nan        nan        nan   -60.        36.0127
    -40.        36.0884   -65.        35.788 ]]

'0.036.183-5.035.7321-5.036.1318-10.036.040455.035.883590.036.1259nannan-90.035.4726-150.035.5646-520.035.2114-90.035.6915-2640.034.3003-60.035.8113240.036.687490.036.3042-240.035.8932nannannannannannannannan-110.035.6238nannannannan-60.036.0127-40.036.0884-65.035.788'